.cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 600px;
  margin-left: 20px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  /* background-color: rgba(0, 0, 0, 0.5);
    padding: 10px; */
}

.card:nth-child(1) {
  background-image: url(../images/brick-home-exterior.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.card:nth-child(2) {
  background-image: url(../images/rain-falls-on-clean-pool-and-deck.jpg);
  position: relative;
  background-size: cover;
  background-position: center;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
}

.card__title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.card__description {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 20px;
}

.card__link {
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  text-decoration: none;
}

.card__title,
.card__description,
.card__link {
  position: relative;
  z-index: 1;
  color: white;
}

.card__link:hover {
  background-color: #333;
}

/* add an overlay on the background image */
.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 600px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.card:nth-child(2)::before {
  background-color: rgba(0, 0, 0, 0.5);
}

.card:nth-child(1)::before {
  background-color: rgba(0, 0, 0, 0.5);
}

.showcase__desciption-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.showcase__description {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

@media (max-width: 768px) {
  .cards {
    flex-direction: column;
  }

  .card {
    margin: 20px 0;
  }
}
