---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Brokerage Page">
    <section class="container">
        <article class="brokerage">
            <h1 class="brokerage__heading">
                Welcome To The Brokerage Arm of The Reverie Group
            </h1>
            <p class="brokerage__description">
                Browse through our wide range of luxury properties, currently
                listed on the market. These properties were developed by trusted
                third-party developers.
            </p>
        </article>
        <article class="brokerage__listings">
            
        </article>
    </section>
</Layout>
