---
export interface Props {
  title: string;
  body: string;
  href: string;
  imgUrl: string;
}



const { href, title, body, imgUrl } = Astro.props as Props;
---

<div class="card">
            <div class="card__description">
                <p class="card__text">5 Bedroom Detached Mansion</p>
                <p class="card__amount">$950,000,000</p>
            </div>
            <div class="card__description--full">
                <p class="card__text--full">
                    5 Bedroom Detached Duplex
                </p>
                <p class="card__location">Ikoyi,Lagos</p>
                <ul class="luxuries">
                    <li>5 Bed</li>
                    <li>6 Cars</li>
                    <li>6 Bathrooms</li>
                </ul>
                <p class="card__amount--full">$950,000,000</p>
                <a href="#">See more</a>
            </div>
        </div>



