---
---

<section class="container recommend">
    <div class="recommend__header">
        <h2 class="recommend__header--title">Recommended for you</h2>

        <p class="recommend__header--text">Listings we think you will love</p>
    </div>
    <div class="recommend-cards">
        <div class="recommend-card">
            <div class="recommend-card__description">
                <p class="recommend-card__text">5 Bedroom Detached Mansion</p>
                <p class="recommend-card__amount">$950,000,000</p>
            </div>
            <div class="recommend-card__description--full">
                <p class="recommend-card__text--full">
                    5 Bedroom Detached Duplex
                </p>
                <p class="recommend-card__location">Ikoyi,Lagos</p>
                <ul class="luxuries">
                    <li>5 Bed</li>
                    <li>6 Cars</li>
                    <li>6 Bathrooms</li>
                </ul>
                <p class="recommend-card__amount--full">$950,000,000</p>
                <a href="#">See more</a>
            </div>
        </div>
        <div class="recommend-card">
            <div class="recommend-card__description">
                <p class="recommend-card__text">5 Bedroom Detached Duplex</p>
                <p class="recommend-card__amount">$110,000,000</p>
            </div>
            <div class="recommend-card__description--full">
                <p class="recommend-card__text--full">
                    5 Bedroom Detached Duplex
                </p>
                <p class="recommend-card__location">Ikoyi,Lagos</p>
                <ul class="luxuries">
                    <li>5 Bed</li>
                    <li>6 Cars</li>
                    <li>6 Bathrooms</li>
                </ul>
                <p class="recommend-card__amount--full">$110,000,000</p>
                <a href="#">See more</a>
            </div>
        </div>
        <div class="recommend-card">
            <div class="recommend-card__description">
                <p class="recommend-card__text">3 & 4 Bedroom Condominium</p>
                <p class="recommend-card__amount">$650,000,000</p>
            </div>
            <div class="recommend-card__description--full">
                <p class="recommend-card__text--full">
                    5 Bedroom Detached Duplex
                </p>
                <p class="recommend-card__location">Ikoyi,Lagos</p>
                <ul class="luxuries">
                    <li>5 Bed</li>
                    <li>6 Cars</li>
                    <li>6 Bathrooms</li>
                </ul>
                <p class="recommend-card__amount--full">$110,000,000</p>
                <a href="#">See more</a>
            </div>
        </div>
    </div>
</section>

<style>
    .recommend {
        margin-bottom: 4rem;
    }
    .recommend__header--title {
        font-size: 3rem;
        font-weight: 800;
    }

    .recommend__header--text {
        font-size: 1.5rem;
    }

    .recommend-cards {
        display: flex;
    }

    .recommend-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 400px;
        height: 450px;
        margin-left: 20px;
        vertical-align: middle;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        color: #fff;
    }

    .recommend-card:nth-child(1) {
        /* give background image */
        background-image: url("../images/architecture-5339245_1920.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
    }

    .recommend-card:nth-child(2) {
        /* give background image */
        background-image: url("../images/residence-2219972_1920.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
    }
    .recommend-card:nth-child(3) {
        /* give background image */
        background-image: url("../images/house-1836070_1920.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
    }

    .recommend-card__description {
        margin-top: 300px;
        z-index: 1;
        display: block;
        transition: display 0.5s ease;
    }

    .recommend-card__text,
    .recommend-card__amount {
        font-size: 1.5rem;
        color: #fff;
    }

    .recommend-card__text {
        width: 100%;
        font-size: 1.3rem;
        margin-bottom: -20px;
    }
    .recommend-card__amount {
        font-size: 2.8rem;
        width: 100%;
    }

    .recommend-card__description--full {
        z-index: 1;
        margin-top: -10px;
        text-align: center;
        width: 80%;
        display: none;
        transition: display 0.5s ease;
    }

    .recommend-card__text--full {
        font-size: 2rem;
        font-weight: 600;
    }

    .recommend-card__location,
    .luxuries li {
        font-size: 1.3rem;
        margin-bottom: -4px;
    }

    .recommend-card__amount--full {
        font-size: 1.8rem;
        margin-top: -0.6rem;
    }
    li {
        margin-bottom: -0.6rem !important;
    }
    .recommend-card__description--full a {
        color: #fff;
        border: 2px solid #fff;
        padding: 10px 20px;
        border-radius: 4px;
    }

    .recommend-card::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7) !important;
        border-radius: 10px;
    }

    /* on hover on each card , change the background image and make the recommend-card__description hidden while recommend-card__description--full becomes visible */

    .recommend-card:nth-child(1):hover {
        background-image: url("../images/architecture-5339245_1920.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .recommend-card:nth-child(2):hover {
        background-image: url("../images/residence-2219972_1920.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .recommend-card:nth-child(3):hover {
        background-image: url("../images/house-1836070_1920.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

     .recommend-card:nth-child(3):hover {
        background-image: url("../images/house-1836070_1920.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .recommend-card:nth-child(1):hover .recommend-card__description {
        display: none;
        transition: display 0.5s ease;
    }
  

    .recommend-card:nth-child(2):hover .recommend-card__description {
        display: none;
        transition: display 0.5s ease;
    }

    .recommend-card:nth-child(3):hover .recommend-card__description {
        display: none;
        transition: display 0.5s ease;
        background-image: url("../images/house-1867187_1280.jpg");
    }

    .recommend-card:nth-child(1):hover .recommend-card__description--full {
        display: block;
        transition: display 0.5s ease;
    }
    .recommend-card:nth-child(2):hover .recommend-card__description--full {
        display: block;
        transition: display 0.5s ease;
    }
    .recommend-card:nth-child(3):hover .recommend-card__description--full {
        display: block;
        transition: display 0.5s ease;
        
    }

    /* .recommend-card__description {
        opacity: 1;
        transition: opacity 0.5s ease;
    } */

    /* Media Queries */
/* 
    @media only screen and (min-width: 600px) {
        .recommend-card {
            width: 100%;
            max-width: 400px;
        }

        .recommend-cards {
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    @media only screen and (min-width: 768px) {
        .recommend-cards {
            justify-content: center;
        }
    }

    @media only screen and (min-width: 992px) {
        .recommend-card {
            width: 100%;
            max-width: 400px;
        }

        .recommend-cards {
            justify-content: space-between;
        }
    } */
    /* 
    @media only screen and (min-width: 1200px) {
        .recommend-card {
            width: 100%;
            max-width: 400px;
        }

        .recommend-cards {
            justify-content: space-between;
        }
    }
</style>

<script>
    // on hover over card
    // make .recommend-card__description--full visible and .recommend-card__description not visible by adding invisble class

    // const recommendCards = document.querySelectorAll(".recommend-card");

    // recommendCards.forEach((card) => {
    //     card.addEventListener("mouseover", () => {
    //         card.classList.add("invisible");
    //     });
    //     card.addEventListener("mouseout", () => {
    //         card.classList.remove("invisible");
    //     });
    // });
</script>
